body {
    background-image: url("../images/backgrounds-blank-blue-953214.jpg")
}

.header {
    text-align: center;
    color: #f7d705;
}

.add-button {
    background-color: gold;
}

#topic {
    width: 100%;
}

h4 {
    color: #f7d705;
}

.card {
    max-width: 210px;
    position: relative;
    float:left;
}

.card-body {
    width:200px;
}

.favorite-no {
    font-size:18pt;
    float:right;
}

.favorite-yes {
    float:right;
    font-size:18pt;
    color:red;
}

.favorite-yes:hover {
    color:red;
}

.giphy-img {
    width:200px;
}

.favorites {
    color: #f7d705;
}

.favorite-list { 
    color: orange;
}   
