body {
    background-image: url("../images/backgrounds-blank-blue-953214.jpg")
}

.header {
    text-align: center;
    color: #f7d705;
}

.add-button {
    background-color: gold;
}

#topic {
    width: 100%;
}

h4 {
    color: #f7d705;
}